/* http://jsfiddle.net/coltrane/cxQGc/ */
.top {
    text-align: center;
    position:absolute;
    left:0, right:0;
    height: 92px;
}
.left {
    position:absolute;
    left:0, right:92px; top: 92px; bottom: 0;
    width: 100px; /*todo: ideally this would scale or slide for mobile*/
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    padding-right: 5px;
    background-color: #ffffff;
}
.main {
    position:absolute;
    left: 115px; top: 92px; right:0; bottom:0;
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    margin-left: 20px;
    background-color: #ffffff;
}
body {
    background-color: #2871CC;
}