.content-div {
    border-width: 5px;
    border-color: #000000;
    border-style: solid;
    border-radius: 10px;
    background-color: #ffffff;
    width: 70%;
    min-width: 500px;
    padding: 5px;
    margin: auto;
    margin-bottom: 10px;
}
.content-header {
    font-size: 20px;
}
.top {    
    text-align: center;
    font-size: 75px;
}
.links {
    text-align: center;
    font-size: larger;
}
p {
    text-indent: 2em;
}
body {
    background-image: url('Skewed4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000d1c;
    font-family: Arial, sans-serif;
}
